/*
    books.css
    Jeff Ondich, 27 April 2016
    Updated 6 November 2021

    Styles for the "books and authors" webapp sample
    for CS 257
*/

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 15px;
}

a {
  color: #0B86B5;
  text-decoration: underline;
}

a:hover {
  background-color: #D8D8D8;
  text-decoration: none;
  cursor: pointer;
}

#categories{
  height: 50px;
  margin-left: 50px;
  margin-right:50px;
  margin-top: 25px;
  border: 3px solid black;
}

#img{
  display:flex;
  justify-content: center;
}

#game_img {
justify-content: center;
margin-left: 25px;
margin-top: 25px;
border: 5px solid #555;
text-align:center;
display:block;
float:left;
}

#game_img img {
 width: 200px;
}