/*
    boardgames.css
    Kimberly yip, Sydney Nguyen, Sophia Wang

    Styles for the "books and authors" webapp sample
    for CS 257
*/

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 15px;
}

a {
  color: #0B86B5;
  text-decoration: underline;
}

a:hover {
  background-color: #D8D8D8;
  text-decoration: none;
  cursor: pointer;
}

