<!DOCTYPE html>
<html>
    <head>
        <title>index</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="sample1.css">
    </head>

    <body>
        <h2>Board Games Database Navigation</h2>

        <ul>
            <li>Home page:
                <a href="home_page" target="_blank" rel="noopener noreferrer">home_page.html</a>,
                <a href="home_page.css" target="_blank" rel="noopener noreferrer">home_page.css</a>
            <li>Individual board game page:
                <a href="boardgame_site" target="_blank" rel="noopener noreferrer">boardgame_site.html</a>,
                <a href="boardgame_site.css" target="_blank" rel="noopener noreferrer">boardgame_site.css</a>
            <li>Login page:
                <a href="login_page" target="_blank" rel="noopener noreferrer">login_page.html</a>,
                <a href="login_page.css" target="_blank" rel="noopener noreferrer">login_page.css</a>
            <li>User account page:
                <a href="user_home_page" target="_blank" rel="noopener noreferrer">user_home_page.html</a>,
                <a href="user_home_page.css" target="_blank" rel="noopener noreferrer">user_home_page.css</a>
            <li>Search results page:
                <a href="search_page" target="_blank" rel="noopener noreferrer">search_page.html</a>,
                <a href="search_page.css" target="_blank" rel="noopener noreferrer">search_page.css</a>
            <li>Sign up page:
                <a href="create_user" target="_blank" rel="noopener noreferrer">create_user.html</a>,
                <a href="create_user.css" target="_blank" rel="noopener noreferrer">create_user.css</a>
            <li>Forgot password page:
                <a href="forgot_password" target="_blank" rel="noopener noreferrer">forgot_password.html</a>,
                <a href="forgot_password.css" target="_blank" rel="noopener noreferrer">forgot_password.css</a>
    </ul>
    </body>
</html>
