Authors: Sydney Nguyen, Sophia Wang, and Kimberly Yip

Description of dataset:	
	The data set we will be using can be found at the following url:https://www.kaggle.com/datasets/andrewmvd/board-games
	The dataset we have chosen to work with contains a list of boardgames with the following coloumn categories: ID, name, year published, min players, max players, playtime, min age, users rated, rating average, BoardGamesGeek ranking, complexity average, owned users, mechanics, genres.
	
A brief description of your dataset. Include instructions for how to get the dataset (typically, just a URL and maybe a note about where to click should do the job).
A list of short use cases or user stories you would like to support in the final version of your web application. You may use any of the templates described in the Wikipedia articles on user stories or use cases. For each use case or user story, provide a brief description of how it might be implemented on your website.
